.instructions-container {
  text-align: center;
}

.instructions-title {
  min-height: min(42px, max(18px, 2.5vw));
}

.instructions-paragraph {
  font-size: min(38px, max(18px, 2vw));
  min-height: min(38px, max(18px, 2vw));
}

.instructions-continue-prompt {
  padding: 20px;
  border: 1px solid gray;
}

.prompt-disabled {
  border: 0;
  background-color: #cccccc;
  color: #666666;
}

.orange-instruction-text,
.green-instruction-text,
.purple-instruction-text {
  padding: 0 5px;
  border: 4px solid black;
}

.orange-instruction-text {
  border-color: orange;
}

.green-instruction-text {
  border-color: greenyellow;
}

.purple-instruction-text {
  border-color: violet;
}

.instruction-sentence-preview {
  background-color: lightgray;
  padding: 5px;
}

.version-number-block {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  font-style: italic;
}
